<div class="card">

  <div class="header">
      <h2 class="title">Flight Edit</h2>
  </div>

  <div class="content">

    <form [formGroup]="editForm">
      <div class="form-group">
          <label>Id:</label>
          <input formControlName="id" class="form-control">
      </div>

      <div class="form-group">
          <label>From:</label>
          <input formControlName="from" class="form-control">
      </div>
      <div class="alert alert-danger" *ngIf="editForm?.controls?.from?.invalid">
        From is invalid now!
      </div>
      <div class="alert alert-danger" *ngIf="editForm?.controls?.from?.hasError('required')">
        From is mandatory!
      </div>
      <div class="alert alert-danger" *ngIf="editForm?.controls?.from?.hasError('minlength')">
        Please enter at least 3 chars!
      </div>
      <div class="alert alert-danger" *ngIf="editForm?.controls?.from?.hasError('city')">
        Use a valid city name! {{ editForm?.controls?.from?.errors?.city?.allowedCities | json }}
      </div>

      <div class="form-group">
          <label>To:</label>
          <input formControlName="to" class="form-control">
      </div>
      <div class="alert alert-danger" *ngIf="editForm?.controls?.to?.invalid">
        To is invalid now!
      </div>
      <div class="alert alert-danger" *ngIf="editForm?.controls?.to?.hasError('required')">
        To is mandatory!
      </div>
      <div class="alert alert-danger" *ngIf="editForm?.controls?.to?.hasError('minlength')">
        Please enter at least 3 chars!
      </div>
      <div class="alert alert-danger" *ngIf="editForm?.controls?.to?.hasError('city')">
        Use a valid city name! {{ editForm?.controls?.to?.errors?.city?.allowedCities | json }}
      </div>

      <div class="form-group">
        <label>Date:</label>
        <input formControlName="date" class="form-control">
      </div>

      <div class="form-group">
          <button (click)="save()" class="btn btn-default">Save</button>
          <button (click)="resetForm()" class="btn btn-default">Reset</button>
      </div>

    </form>

  </div>
</div>
